*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    /* background-color: #0F1111; */
    background-color: black;
    color: white; 
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 170px;
    padding:1px 8px 0px 6px ;
    margin:1px;
    color: #007185;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size:cover ;
    height: 50px;
    width: 100%;
    
    
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* box2 */
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    align-items: center;

}
.add-sec{
       font-size: 1rem;
       margin-left:3px ;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box3 */
.nav-search{
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #E6E6E6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* box4 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/*box6*/
.nav-cart i{
   font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/* Panel*/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 500;
}

.panel-ops p{
    display: inline;
    margin-left: 20px;
}
.panel-ops{
    width: 90%;
    font-size: 0.85rem;
    
}
/* hero-section*/
.hero-section{
    background-image: url(box1_image.jpg); 
    background-size: cover;
    height: 130px;
    /* width: 1500px;  */
    margin: 15px 35px 15px 35px;
}
.part{
    /* background-image: url(middle_one.jpg); */
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 15px 35px 10px 35px;
    
}
.part1{
    height: 150px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    margin: 15px 35px 10px 35px;
    
}
.part2{
    height: 150px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    margin: 10px 35px 10px 35px;
}
.part3{
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat; 
    margin: 0px 35px 10px 35px;
}
.part4{
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat; 
    margin: 0px 35px 10px 35px;
}

.shop_by_category{
    display: flex;
    justify-content: space-evenly;
}
.gifts_decor{
    background-image: url(box2_image.jpg);
    background-size:cover ;
    height: 268px;
    width: 350px; 
    margin: 15px 20px 0px 35px;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    
   
}
.text1{ 
    height: 20px;
    width: calc(130px);
    background-color:#FFFFFFE6;
    color: #111111;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 700;
    /* padding: 2px, 21px 2px 21px; */
}   

.household_care{
    background-image: url(box3_image.jpg);
    background-size:cover ;
    height: 268px;
    width: 360px; 
    margin: 15px 20px 10px 20px;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
}
.text2{ 
    height: 20px;
    width: calc(150px);
    background-color:#FFFFFFE6;
    color: #111111;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 700;
    /* padding: 2px, 21px 2px 21px; */
}   
.home_kitchen{
    background-image: url(box4_image.jpg);
    background-size:cover ;
    height: 268px;
    width: 360px; 
    margin: 15px 20px 10px 20px;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    
}
.text3{ 
    height: 20px;
    width: calc(150px);
    background-color:#FFFFFFE6;
    color: #111111;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 700;
    /* padding: 2px, 21px 2px 21px; */
}   
.beauty{
    background-image: url(box5_image.jpg);
    background-size:cover ;
    height: 268px;
    width: 360px; 
    margin: 15px 35px 10px 20px;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
}
.text4{ 
    height: 20px;
    width: calc(80px);
    background-color:#FFFFFFE6;
    color: #111111;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 700;
    /* padding: 2px, 21px 2px 21px; */
}   

.home_essentials{
    display: flex;
    justify-content: space-evenly;
}
.Kitchen_Dining{
    background-size:contain ;
    background-repeat: no-repeat;
    height: 207px;
    width: 360px; 
    margin: 15px 20px 0px 35px;
}
 
.tableware{
    background-size:contain;
    background-repeat: no-repeat;
    height: 207px;
    width: 360px; 
    margin: 15px 20px 10px 20px;

}

.k_s_organization{
    background-size:contain ;
    background-repeat: no-repeat;
    height: 207px;
    width: 360px; 
    margin: 15px 20px 10px 20px;
}
   
.hotpots{
    background-size:contain ;
    background-repeat: no-repeat;
    height: 207px;
    width: 360px; 
    margin: 15px 35px 10px 20px;
}
  
.AB_G{
    display: flex;
    justify-content: space-evenly;
}
.makeup_skincare{
    background-size:contain ;
    background-repeat: no-repeat;
    height: 182px;
    width: 360px; 
    margin: 15px 20px 0px 35px;
}
.HSP{
    background-size:contain ;
    background-repeat: no-repeat;
    height: 182px;
    width: 360px; 
    margin: 15px 20px 0px 20px;
}
.HST{
    background-size:contain ;
    background-repeat: no-repeat;
    height: 182px;
    width: 360px; 
    margin: 15px 20px 0px 20px;
}
.shaving_hairreomoval{
    background-size:contain ;
    background-repeat: no-repeat;
    height: 182px;
    width: 360px; 
    margin: 15px 35px 0px 20px;
}

.her_fashion{
    display: flex;
    justify-content: space-evenly;
}
.apparel{
    background-size:cover ;
    background-repeat: no-repeat;
    height: 185px;
    width: 360px; 
    margin: 0px 20px 10px 35px;
}
.jewelry{
    background-size:contain ;
    background-repeat: no-repeat;
    height: 185px;
    width: 360px; 
    margin: 0px 20px 10px 20px;
}
.shoes{
    background-size:contain ;
    background-repeat: no-repeat;
    height: 185px;
    width: 360px; 
    margin: 0px 20px 10px 20px;
}
.watches{
    background-size: cover ;
    background-repeat: no-repeat;
    height: 185px;
    width: 360px; 
    margin: 0px 35px 10px 20px;
}

.his_fashion{
    display: flex;
    justify-content: space-evenly;
}
.his_apparel{
    background-size:cover ;
    background-repeat: no-repeat;
    height: 185px;
    width: 360px; 
    margin: 0px 20px 10px 35px;
}
.accesories{
    background-size:contain ;
    background-repeat: no-repeat;
    height: 185px;
    width: 360px; 
    margin: 0px 20px 10px 20px;
}
.his_shoes{
    background-size:contain ;
    background-repeat: no-repeat;
    height: 185px;
    width: 360px; 
    margin: 0px 20px 10px 20px;
}
.his_watches{
    background-size: cover ;
    background-repeat: no-repeat;
    height: 185px;
    width: 360px; 
    margin: 0px 35px 10px 20px;
}

/*footer*/
footer{
    margin-top: 15px;

}
.foot-panel1{
    background-color: #37475a;
    color: #FFFFFF;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #232F3E;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 30px;
}
ul p{
    color: #FFFFFF;
    font-weight: 600;
}
ul a{
    display: block;
    color: #DDDDDD;
    font-size: 0.85rem;
    margin-top: 10px;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo2{
    background-image: url(amazon_logo.png);
    background-size:cover ;
    height: 60px;
    width: 200px; 
    
}
.foot-panel4{
    background-color: #131a22;
    color: #DDDDDD;
    height: 80px;
    font-size: 0.75rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-content: center; */
}
.pages{
    text-align: center;
}
.copyright{
    margin-top: 5px;
}